{% load static %}

<!DOCTYPE html>
<!-- 
   Add Sakura, https://github.com/oxalorg/sakura
• Edit travel_wishlist/templates/travel_wishlist/base.html and
add a link to the Sakura stylesheet -  
 -->
<html>
    <head>
        <title>Travel Wishlist</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" >
    </head>

    <h1>Where do you want to go?</h1>
    <body>
        {% block content %} 
        {% endblock %}
    </body>

    <!-- Add class="nav-link" to both links -->
    <div>
        <p>A travel wishlist, build with Django</p>

        <a class="nav-link" href="{% url 'place_list' %}">Your wishlist</a>
        <a class="nav-link" href="{% url 'places_visited' %}">Places you've visited</a>

    </div>
</html>